.counter {
  padding: 20px 20px;
  border-radius: 25px;
  border: 5px solid #fff;
  display: flex;
  flex-direction: column;
  background-color: #bf5dfe;


  .title {
    margin: 0;
    font-size: 25px;
    text-align: center;
    flex: 1 1 auto;
  }

  .counter_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button_wrapper {
      margin-top: 15px;
    }

    .value {
      font-size: 60px;
    }

    .maxvalue {
      color: #ff5d94;
    }
  }
}